*
!.gitignore
# /etc/systemd/system.conf
/*
!/etc
/etc/*
!/etc/systemd
/etc/systemd/*
!/etc/systemd/system.conf

# /etc/my.cnf
/*
!/etc
/etc/*
!/etc/my.cnf

# /etc/nginx/nginx.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/nginx.conf

# /etc/h2o//default-h2o.conf
/*
!/etc
/etc/*
!/etc/h2o
/etc/h2o/*
!/etc/h2o/default-h2o.conf

# /home/isucon/torb/webapp/go/kataribe.toml
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/torb
/home/isucon/torb/*
!/home/isucon/torb/webapp
/home/isucon/torb/webapp/*
!/home/isucon/torb/webapp/go
/home/isucon/torb/webapp/go/*
!/home/isucon/torb/webapp/go/kataribe.toml

